div {
  width: 50%;
  height: 600px;
  background-color: #63b363; }
  div h2 {
    color: gray;
    font-size: 40px;
    font-family: verdana, arial, helvetica; }
  div p {
    color: yellow;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  div div {
    background-color: red; }
    div div img {
      width: 100%; }
    div div h4 {
      width: 500px; }
  div h3 {
    color: red; }
